---
layout: "layouts/base.hbs"
title: Gautham
---
<header>
    <section id="name">
        <h1>{{title}}</h1>
        <nav>
            <ul>
                <li>About Me</li>
                <li>Experience</li>
                <li>Projects</li>
            </ul>
        </nav>
    </section>
    <section id="job">
        <h2>Fullstack Engineer</h2>
        <nav>
            <ul>
                <li>AWS</li>
                <li>Node</li>
                <li>Java</li>
                <li>React</li>
            </ul>
        </nav>
    </section>
</header>