---
layout: "layouts/base.hbs"
title: Gautham
---
<header>
    <nav id="name-nav">
        <ul>
            <li>About Me</li>
            <li>Experience</li>
            <li>Projects</li>
        </ul>
    </nav>
    <h1 id="name">Gautham</h1>
    <section id="job">
        <h2 id="role">Fullstack Engineer</h2>
        <nav id="role-nav">
            <ul>
                <li>AWS</li>
                <li>Node</li>
                <li>Java</li>
                <li>React</li>
            </ul>
        </nav>
    </section>
</header>