---
layout: "layouts/base.hbs"
title: Gautham
---
<header>
    <h1>Gautham</h1>
    <nav id="about">
        <ul>
            <li>About Me</li>
            <li>Experience</li>
            <li>Projects</li>
        </ul>
    </nav>
    <section id="skills">
        <h2>Fullstack Engineer</h2>
        <nav>
            <ul>
                <li>AWS</li>
                <li>Node</li>
                <li>Java</li>
                <li>React</li>
            </ul>
        </nav>
    </section>
</header>