header {
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
    display: grid;
    
    #about {
        grid-row: 1;
        grid-column: 1;
    }

    > h1 {
        grid-row: 1;
        grid-column: 2;
    }

    #skills {
        display: flex;
        grid-row: 2;
        grid-column: 2;
    }

}

