---
layout: "base.hbs"
title: Gautham
---
<div id="hero-page">
    <header>
        <div class="hero">
            <nav id="name-nav" class="br txt-r">
                <ul>
                    <li>About</li>
                    <li>Experience</li>
                    <li>Projects</li>
                </ul>
            </nav>
            <h1 id="name">Gautham</h1>
            <section id="job">
                <h2 id="role">Fullstack Engineer</h2>
                <nav id="role-nav" class="bl txt-l">
                    <ul>
                        <li>AWS</li>
                        <li>Node</li>
                        <li>Java</li>
                        <li>React</li>
                    </ul>
                </nav>
            </section>
        </div>
    </header>
</div>
<main>
    <section>
        <article id="about">
            <h1>About</h1>
            <div class="content">
            {{> about }}
            </div>
        </article>
        <article>
            <h1>Experience</h1>
            <div class="content">
                <ul>
                    <li>AWS</li>
                    <li>Java</li>
                    <li>React</li>
                    <li>Node</li>
                </ul>
            </div>
        </article>
    </section>
</main>