---
layout: "base.hbs"
title: Gautham
---
<div id="hero-page">
    <header>
        <div class="hero">
            <nav id="name-nav" class="br txt-r">
                <ul>
                    <li>About</li>
                    <li>Skills</li>
                    <li>Contact</li>
                </ul>
            </nav>
            <h1 id="name">Gautham</h1>
            <section id="job">
                <h2 id="role">Fullstack Engineer</h2>
                <nav id="role-nav" class="bl txt-l">
                    <ul>
                        <li>AWS</li>
                        <li>Node</li>
                        <li>Java</li>
                        <li>React</li>
                    </ul>
                </nav>
            </section>
        </div>
    </header>
</div>
<main>
    <section>
        <article id="about">
            <h1>About</h1>
            <div class="content">
            {{> about }}
            </div>
        </article>
        <article>
            <h1>Skills</h1>
            <div class="content">
                <ul>
                    <li>
                        <div class="skillcard">
                            <h3>Cloud Solutions</h3>
                            <p>Resilient and scale-able cloud solutions in AWS</p>
                        </div>
                    </li>
                    <li>
                        <div class="skillcard">
                            <h3>API Design</h3>
                            <p>RESTful data and authentication APIs using Node/Express or Java/Spring</p>
                        </div>
                    </li>
                    <li>
                        <div class="skillcard">
                            <h3>Web</h3>
                            <p>Elegant and reponsive pages and apps using React, HTML, and CSS</p>
                        </div>
                    </li>
                </ul>
            </div>
        </article>
        <article id="Contact">
            <h1>Contact</h1>
            <div class="content">
                TODO
            </div>
        </article>
    </section>
</main>