---
layout: "base.hbs"
title: Gautham
---
<header>
    <div class="hero">
        <nav id="name-nav" class="br txt-r">
            <ul>
                <li>About</li>
                <li>Experience</li>
                <li>Projects</li>
            </ul>
        </nav>
        <h1 id="name">Gautham</h1>
        <section id="job">
            <h2 id="role">Fullstack Engineer</h2>
            <nav id="role-nav" class="bl txt-l">
                <ul>
                    <li>AWS</li>
                    <li>Node</li>
                    <li>Java</li>
                    <li>React</li>
                </ul>
            </nav>
        </section>
    </div>
</header>
<main>
    <section class="left">
        <article class="summary">
            <h1>About</h1>
            {{> about }}
        </article>
        <div class="gallery">
            
        </article>
    </section>
    <section class="right">
        <article class="summary">
            <h1>Experience</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
        <div class="gallery">
        
        </div>
    </section>
</main>