---
---
$body-bg: #FF8C12;
$body-color: #ffffff;

@import "bootstrap/scss/bootstrap";

.vh-100 { height: 100vh; }

.h-90 { height: 90%; }
.h-10 { height: 10%; }

#hero {
    position: relative;
    max-height: 100vh;
    overflow: hidden;
}

main {
    position: relative;
    border-top: 10px solid white;
    border-left: 10px solid white;
    
    .row:last-child {
        flex-grow: 2;
    }
}

#intro {
    position: absolute;
    top:0;
}

#frame {
    z-index: 1;
    background-color: $body-bg;
    position: relative;
    /* responsive-width only in chrome for now :(
    right: unquote('min(50%, 150px)');
    width: 100%;
    */
    right: 100px;
    width: 300px;
    /* todo: only md height: 300px */;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    overflow: scroll;
}

#frame-content-row {
    position: relative;
    bottom: 10vw;
    padding: 20px;
    z-index: 1;
    background-color: $body-bg;
    border: 10px solid white;
}

#frame-box {
    padding: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#frame-backboard {
    position: relative;

}