---
---
$body-bg: #FF8C12;
$body-color: #ffffff;

@import "bootstrap/scss/bootstrap";

.vh-100 { height: 100vh; }

.h-90 { height: 90%; }
.h-10 { height: 10%; }

#hero {
    position: relative;
    min-height: 100vh;
    overflow: visible;
}

#main-box {
    position: relative;
    border-top: 10px solid #17a2b8;
    border-left: 10px solid #ff6060;
}

main {
    .row:last-child {
        flex-grow: 0;
    }
}

#frame {
    z-index: 1;
    background-color: $body-bg;
    position: relative;
    width: 100%;
    right: 25%
    /* todo: only md height: 300px */;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
}

@media (min-width: 408px) {
    #frame {
        right: 100px;
        width: 300px;
    }
}

#profile {
    border: 7px solid white;
}

.icon-bar {
    position: fixed;
    background-color: white;
    color: black;
    right: 0;
    bottom: 10%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
    
    a {
        display: block;
        text-align: center;
        background-color: white;
        color: black;
        font-size: 30px;
        padding: 5px;
    }

    a.linkedin {
        background: #007bb5;
        color: white;
    }

    a.medium {
        background: #E8F3EC;
    }
}