<p>
I was born in India and grew up in Colorado doing the usual
hiking, biking, skiing, running, etc. I enjoy anything active and/or
outside! You can also find me wandering through different cities, cafe-hoping, and 
trying out new restaurants. My favorite foods are (currently) South Indian and Thai.
</p>

<p>
I am an engineer as a natural by-product of an innate curiosity that drives me to 
learn more about the world and its inhabitants. I value empathy, respect,
humility, and diversity.
</p>
