<p>
I am Gautham; your friendly neighborhood fullstack engineer. I have
over 10 years of industry experience building websites, cloud architectures,
and APIs using primarily <strong>Java</strong>, <strong>Javascript</strong>,
<strong>Node</strong>, <strong>AWS</strong>, and <strong>React</strong>.</p>

<p>
I bring a unique mix of creative and technical talent and pride myself on building
quality products through a human centered approach built-on <strong>understanding</strong>,
<strong>trust</strong>, and <strong>respect</strong> for your time and money.
</p>
