<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>

        <script src="https://kit.fontawesome.com/14884bc008.js" crossorigin="anonymous"></script>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Caveat&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="/styles/tailwind.css">

        <link rel="stylesheet" href="/styles/reset.css">
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="/styles/ds.css">

    </head>
    <body>
        {{{ content }}}
    </body>
</html>