.br { border-right: 1px solid black; }
.bl { border-left: 1px solid black; }
.txt-l { text-align: left; }
.txt-r { text-align: right; }

/**
  * MOBILE
  */
header {
    text-transform: uppercase;

    & ul {
        list-style: none;
        border: 0;
        padding: 0;
        margin: 0;
    }

    & li {
        padding: 0.75rem;
    }

    & li:hover {
        text-decoration: underline;
    }

    /* Mobile: Use flexbox to center hero */
    margin-top: 20vh;
    margin-bottom: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* Hero is a column flexbox containing
     * the name/role in the center with 2 navs on
     * top and bottom. The width should be established
     * by the name header and the top/btm navs should
     * align w. the right/left of the name header.
     */
    .hero {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        & nav {
            width: 70%;
            margin: 1.5rem auto;
        }

        #name {
            margin: 0.25rem;
            text-align: center;
            font-size: 3em;
            letter-spacing: 5px;
            line-height: 100%;
        }

        #role {
            margin: 0.25rem 0.25rem 1rem 0.25rem;
            text-align: center;
            font-size: 1.25em;
            letter-spacing: 2.5px;
        }
    }
}

main {
    max-width: 1400px;
    margin: 0 auto;


    & section {
        margin: 2rem auto;
        max-width: 400px;
    }

    & h1 {
        text-align: center;
        text-transform: capitalize;
    }

}

@media screen and (min-width: 900px) {
    header {
        display: flex; 
        margin-bottom: 3rem;

        .hero {
            display: grid;
            gap: 16px;
            flex-grow: 1;
            max-width: 1200px;
            
            & nav {
                width: 100%;
            }

            #name-nav {
                display: flex;
                flex-direction: column;
                justify-content: center;
  
                >ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                }
            }
        
            #name {
                grid-row: 1;
                grid-column: 2;
                font-size: 96px;
                letter-spacing: 10px;
                line-height: 110%;
                text-align: left;
                margin: 0;
            }
        
            #job {
                display: flex;
                justify-content: start;
                grid-row: 2;
                grid-column: 2;
            }
        
            #role {
                margin: 0 0 0 8px;
                letter-spacing: 5px;
                flex-shrink: 0;
            }
        
            #role-nav {
                margin: 0;
                flex-shrink: 1;
                margin-left: 16px;
                padding-left: 16px;
                border-left: 1px solid black;
            }
        
        }
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        & section.left {
            & article.summary {
                grid-column: 1;
            }

            .gallery {
                grid-column: 2/3;
            }
        }

        & section.right {
            & article.summary {
                grid-column: 3;
            }

            .gallery {
                grid-column: 1/2;
            }
        }
    }
}


