html, body {
    margin: 0;
    font-family: 'Noto Serif', serif;
}

body {
    background-color: #000C1B;
    color: #d8d8d8;
    font-size: 1.25rem;
}

#hero-page {
    height: 100vh;
    background: linear-gradient(180deg, black 0%, #001126 43%);
}

#hero-content {
    padding-top: 20vh;

    .hero {

        & nav {
            width: 70%;
        }

        #name {
            margin: 0.25rem;
            text-align: center;
            font-size: 3em;
            letter-spacing: 5px;
            line-height: 100%;
        }

        #role {
            font-size: 1.25em;
        }
    }
}

#hero-page::after {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100vw;
    height: 185px;
    background-image: url('/img/landscape.svg');
}

main {
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Caveat';

    & section.intro::before {
        display: block;
        content: '';
        background: linear-gradient(180deg, #063531 10%, #085E5C 100%);
        width: 100%;
        height: 125px;
    }

    & section.intro::after {
        display: block;
        content: '';
        background: linear-gradient(180deg, #085E5C 0%, #000C1B 100%);
        width: 100%;
        height: 125px;
    }

    & section {
        & article {      
            padding: 2rem;
            margin: 0 auto;
            max-width: 400px;

            > h1 {
                padding: 2rem 0;
                border-top: 1px solid white;
                border-bottom: 1px solid white;
                font-size: 2rem;
                letter-spacing: 1.5px;
                text-align: center;
                text-transform: uppercase;
            }

            p { 
                margin: 1rem;
                text-align: center;
            }

        }
    }
}

@media screen and (min-width: 768px) {
    #hero-content {
        .hero {            
            & nav {
                width: 100%;
            }
        
            #name {
                grid-row: 1;
                grid-column: 2;
                font-size: 96px;
                letter-spacing: 10px;
                line-height: 110%;
                text-align: left;
                margin: 0;
            }
        
            #job {
                grid-row: 2;
                grid-column: 2;
            }
        
            #role-nav {
                border-left: 1px solid rgba(255, 255, 255, 0.126);
            }
        
        }
    }
}

.card {
    padding: 1rem;
    margin-top: 2rem;
    
    > h3 {
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    > .intro {
        font-style: italic;
    }
}

.circle {
    background: radial-gradient(#085E5C, #000C1B);
}

